<!DOCTYPE html>
<html>

<head>
    <title>OpenMoth</title>
    <link href="/icon.png" rel="shortcut icon">
    <link href="/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="theme-color" content="rgba(42, 42, 42, .65)">
    <!-- OpenGraph n shit -->
    <meta property="og:site_name" content="OpenMoth">
    <meta property="title" content="OpenMoth">
    <meta property="og:title" content="OpenMoth">
    <meta property="image" content="https://openmoth.herokuapp.com/icon.png">
    <meta property="og:image" content="https://openmoth.herokuapp.com/icon.png">
    <meta property="og:image:width" content="200">
    <meta property="og:image:height" content="200">
    <meta property="description" content="The twitter account that anyone can tweet from.">
    <meta property="og:description" content="The twitter account that anyone can tweet from.">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://openmoth.herokuapp.com">

    <!-- Twitter card shit -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@cryptoc1">
    <meta name="twitter:title" content="Open Moth">
    <meta name="twitter:description" content="The twitter account that anyone can tweet from.">
    <meta name="twitter:image" content="https://openmoth.herokuapp.com/openmoth_cropped.png">
    <meta name="twitter:image:src" content="https://openmoth.herokuapp.com/openmoth_cropped.png">
    <meta name="twitter:creator" content="@cryptoc1">
</head>

<body>
    {{{ body }}}
</body>

</html>
